[submodule "lib/geographiclib"]
	path = lib/geographiclib
	url = git://git.code.sourceforge.net/p/geographiclib/code
[submodule "lib/oxygen-icons-png"]
	path = lib/oxygen-icons-png
	url = https://github.com/rogovsky/oxygen-icons-png.git
[submodule "lib/UBX_Parser"]
	path = lib/UBX_Parser
	url = https://github.com/eringerli/UBX_Parser.git
[submodule "lib/dubins_curves"]
	path = lib/dubins_curves
	url = https://github.com/rxdu/dubins_curves.git
[submodule "lib/kalman"]
	path = lib/kalman
	url = https://github.com/mherb/kalman.git
[submodule "lib/eigen"]
	path = lib/eigen
	url = https://gitlab.com/libeigen/eigen.git
